
<app-navbar></app-navbar>

<div class="row mb-4">
    <!-- <div class="col">
        <!--filtres -->
        <div ngbDropdown>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="gfg" 
                ngbDropdownToggle type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtres</button>
        <div ngbDropdownMenu="gfg">
            <button ngbDropdownItem>GeeksforGeeks</button>
            <button ngbDropdownItem>Angular10</button>
            <button ngbDropdownItem>ng bootstrap</button>
        </div>
        </div>  
        <!--END filtres -->
    </div> --> 

    <div class="col col-md-4">
        <div class="input-group">
        
        <input type="text" class="form-control form-control-sm" aria-label="Search all issues" placeholder="Search all issues">
        </div>
    </div>

    <div class="col">
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <button type="button" class="btn btn-outline-dark"> Created</button>
        <button type="button" class="btn btn-outline-dark">Assigned</button>
        <button type="button" class="btn btn-outline-dark"> Mentioned</button>
        
        </div>
    </div>

    <div class="col">
        <button type="button" class="btn btn-success btn-sm" routerLink="/new" > New issues</button>
    </div>
</div>

<!-- Filtres appliquées -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Clear current search query, filters, and sorts!</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearFiltre()" ></button>
</div>
<!-- END Filtres appliquées -->

<!--Issue list -->
<div class="row mb-4">
    <div class="col">

        <div class="card">
            <div class="card-header">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-link" style="color: inherit; font-weight: bold; text-decoration: none !important;">
                    <i class="bi bi-circle"></i> 2 Open 
                    </button>
                </div>
                
                <div class="btn-group" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-link" style="color: inherit;  text-decoration: none !important;">
                    <i class="bi bi-check-circle-fill"></i> 4 Close 
                    </button>

                </div>
            </div>
        </div>
    
        <!-- liste issues -->
        <ul class="list-group ">
       
                <a *ngFor="let item of issues | async" class="list-group-item list-group-item-action" (click)="goToDetail(item)">
                    <div class="d-flex w-100 justify-content-between">
                        <div *ngIf="item.status === 'isOpen'; else elseBlock">
                            <h6 class="mb-1">
                                <i class="bi bi-circle"></i> {{ item.title }} 
                            </h6>
                                <small class="text-body-secondary" >{{item.status}} {{item.dateCreated.toDate() | date:'medium' }} by @{{ item.postBy }} </small>

                        </div>
                        <ng-template #elseBlock>
                            <h6 class="mb-1">
                                <i class="bi bi-check-circle-fill"></i> {{ item.title }} 
                            </h6>
                                <small class="text-body-secondary" style="color: red;">{{item.status}} {{item.dateCreated.toDate() | date:'medium' }} by @{{ item.postBy }} </small>

                        </ng-template>
                        <small class="text-body-secondary"> <i class="bi bi-chat-right-text"></i> {{ item.comments?.length ?? 0  }}</small>
                    </div>
                    
                    <!-- <small class="text-body-secondary" >{{item.status}} {{item.dateCreated.toDate() | date:'medium' }} by @{{ item.postBy }} </small> -->
                </a>
        </ul>
        <!-- END liste issues -->

        <!-- No issues yet-->
        <div *ngIf="(issues | async)?.length==0" style="display: flex;justify-content: center;">
            No issues found.
        </div>  
        <!-- END No issues -->      

        </div>
    </div>
</div>
<!--END Issue list-->