
<app-navbar></app-navbar>


<!--Alert -->
<ng-container *ngIf="popup_view">
  <div class="alert {{ popup_color }} alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ popup_message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</ng-container>

<!--END Alert-->

<!--Issue details -->
<div class="row mb-4">
  
    <div class="row mb-2">
      <h3> {{ (issue$ | async)?.title }} </h3>
    </div>

    <div class="row mb-2">

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <p> <i><span>{{ (issue$ | async)?.postBy }} opened this issue {{ (issue$ | async)?.dateCreated }} · 0 comments </span> </i></p>
        </div>
      </div>
    </div>

    <div class="row  mb-2">
      <hr>
    </div>

    <div class="row mb-2">
      <div class="card border-secondary border-dark ">
        <div class="card-header">
          {{ (issue$ | async)?.postBy }} commented 3 weeks ago
        </div>

        <div class="card-body">
          <markdown [data]="contenu"></markdown>
        </div>
      </div>

      <div style="border-left: 2px solid #ccc; height: 15px; margin: 0 20px;"></div>
    </div>

    <!-- Comments -->
    <div class="row mb-1" *ngFor="let commentaire of commentaires">

      <div *ngIf="commentaire.type === 'closeCompletedIssue'; else elseBlock">
        <div class="card text-bg-dark ">
          <div class="card-body">
            <p class="card-text">{{ (issue$ | async)?.postBy }} closed this as completed on {{ commentaire.datePosted.toDate() | date:'medium'}}</p>
          </div>
        </div>
        <div style="border-left: 2px solid #ccc; height: 15px; margin: 0 20px;"></div>
      </div>
      <ng-template #elseBlock>
        <div class="card border-dark">
          <div class="card-body">
            <markdown [data]="commentaire.content"></markdown>
            <p class="card-text"><small class="text-body-secondary"> Commented on {{ commentaire.datePosted.toDate() | date:'medium'}} by @{{ commentaire.postBy}}  {{commentaire.type}} </small></p>
          </div>  
        </div>
        <div style="border-left: 2px solid #ccc; height: 15px; margin: 0 20px;"></div>
      </ng-template>
      
    </div>
    <!-- END Comments -->

    <app-editor-issue 
    [componentName]='componentName'
    [issueId]='id'
    (popup)='onPopup($event)'
    ></app-editor-issue>
 
  
  </div>
  <!--END Issue details-->

