<!-- titre-->
<div class="card mb-4">
    <div class="card-body text-center">
        This is some text within a card body.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis possimus quasi, facere molestiae quo qui neque libero optio modi, repellendus culpa perferendis, impedit autem fugit dolores assumenda expedita quam laudantium.
    </div>
</div>
<!-- end titre-->

<!--Alert -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!--END Alert-->

<!--Issue details -->
<div class="row mb-4">
  
    <div class="row mb-2">
      <h3> {{ (issue$ | async)?.title }} </h3>
    </div>

    <div class="row mb-2">

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <p> <i><span>{{ (issue$ | async)?.postBy }} opened this issue {{ (issue$ | async)?.dateCreated }} · 0 comments </span> </i></p>
        </div>
      </div>
    </div>

    <div class="row  mb-2">
      <hr>
    </div>

    <div class="row mb-2">
      <div class="card border-secondary border-dark ">
        <div class="card-header">
          {{ (issue$ | async)?.postBy }} commented 3 weeks ago
        </div>

        <div class="card-body">
          <markdown [data]="contenu"></markdown>
        </div>
      </div>

      <div style="border-left: 2px solid #ccc; height: 15px; margin: 0 20px;"></div>
    </div>

    <!-- Comments -->
    <div class="row mb-1" *ngFor="let item of commentaires">
      <div class="card border-secondary ">
        <div class="card-body">
          <markdown [data]="item.content"></markdown>
          <p class="card-text"><small class="text-body-secondary"> Commented on {{ item.datePosted.toDate() | date:'medium'}} by @{{ item.postBy}} </small></p>
        </div>  
      </div>
      <div style="border-left: 2px solid #ccc; height: 15px; margin: 0 20px;"></div>
    </div>
    <!-- END Comments -->



    <app-editor-issue 
      [componentName]='componentName'
      [issueId]='id'
      ></app-editor-issue>

  </div>
  <!--END Issue details-->

