
<div class="container-fluid ">
  <div class="row mt-4">
    <div class="col-lg-2"></div>
    
    <div class="col-lg-8">

      <!-- titre-->
      <div class="card mb-4">
        <div class="card-body text-center">
            This is some text within a card body.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis possimus quasi, facere molestiae quo qui neque libero optio modi, repellendus culpa perferendis, impedit autem fugit dolores assumenda expedita quam laudantium.
        </div>
      </div>
      <!-- end titre-->
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      
      <div class="row mb-3">
        <h5>Result type</h5>
        <span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
              Documentation (1000)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
             Blogs (200)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              Knowledge Articles (5)
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
              Known Issues (50)
            </label>
          </div>
        </span>
        
      </div>
      

    </div>
    <div class="col-lg-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

